<div class="nav-bar">
  <div class="nav-logo">VRental</div>
  <div class="nav-links-container">
    <a class="nav-link active" href="#topSection" id="topLink">Home</a>
    <a class="nav-link" href="#aboutSection" id="aboutLink">About Us</a>
    <a class="nav-link" href="#priceSection" id="priceLink">Price</a>
    <a class="nav-link" href="#priceSection" id="priceLink">Rental</a>
  </div>
</div>
<div class="rela-block top-section grad-back" id="topSection">
  <div class="abs-cent-text top-text">
    <h1 class="big-text">Tu Puerta a la Realidad Virtual</h1>
    <div class="orbitron top-orb">\\\///</div>
    <p class="top-small-text">Pulsa en rental para iniciar</p>
  </div>
</div>
<div class="rela-block under-top-section">
  <div class="half-big-text under-top-big-text">VRental</div>
  <div class="lines-thing"></div>
  <p class="under-top-small-text">
    En VRental alquila nuestras máquinas de VR y sumérgete en mundos
    fascinantes, juega emocionantes videojuegos y disfruta de aventuras
    inmersivas. Descubre la magia de la realidad virtual con nosotros.<br />
    Únete a nosotros y descubre un universo de posibilidades en la comodidad de
    tu hogar o en nuestro centro de experiencias. ¡La realidad virtual nunca ha
    sido tan emocionante y accesible!
  </p>
</div>

<div class="rela-block about-us-section" id="aboutSection">
  <h1 class="half-big-text has-border">About Us</h1>
  <p>
    En VRental, somos apasionados por llevar la emoción y la aventura de la
    realidad virtual a personas de todas las edades. Fundada por un equipo de
    entusiastas de la tecnología y amantes de los juegos, nuestra empresa se ha
    dedicado a ofrecer experiencias inmersivas de alta calidad desde el 2023.
    Creemos en el poder transformador de la realidad virtual y queremos
    compartirlo contigo.
  </p>
  <div class="orbitron black-orb">\\\///</div>
  <div class="rela-block about-us-quad-container">
    <div class="rela-block quad-row">
      <div class="quad-half floated left">
        <h2 class="small-header">Experiencia</h2>
        <p>
          Con años de experiencia en la industria de la realidad virtual, somos
          expertos en ofrecer la mejor calidad.
        </p>
      </div>
      <div class="quad-half floated left">
        <h2 class="small-header">Variedad</h2>
        <p>
          Ofrecemos una amplia selección de máquinas de VR y experiencias para
          satisfacer todos los gustos
        </p>
      </div>
    </div>
    <div class="rela-block quad-row">
      <div class="quad-half floated left">
        <h2 class="small-header">Compromiso con el Cliente</h2>
        <p>
          Nos enorgullece ofrecer un servicio al cliente excepcional y ayudarte
          a aprovechar al máximo tu aventura de realidad virtual.
        </p>
      </div>
      <div class="quad-half floated left">
        <h2 class="small-header">Exclusividad</h2>
        <p>
          Nos enorgullece ofrecer un servicio al cliente de primer nivel y
          ayudarte a disfrutar de una experiencia única
        </p>
      </div>
    </div>
  </div>

  <div class="rela-block games-section">
    <div class="floated left client-part">
      <div class="abs-cent-text">
        <h2 class="half-big-text has-border">Juegos</h2>
      </div>
    </div>
    <div class="floated left client-part"></div>
    <div class="floated left client-part"></div>
    <div class="floated left client-part"></div>
  </div>
  <div class="rela-block our-plans-section" id="priceSection">
    <h2 class="half-big-text has-border">NUESTROS PLANES</h2>
    <p>
      En VRental, aceptamos Nequi, efectivo y Daviplata como formas de pago. A
      continuación, encontrarás nuestros precios y paquetes disponibles.
      ¡Disfruta de la experiencia de realidad virtual que ofrecemos!
    </p>
    <div class="orbitron black-orb">\\\///</div>
    <div class="rela-block plans-container">
      <div class="plan">
        <h2 class="rela-block half-big-text">Basico</h2>
        <div class="orbitron black-orb">\\\///</div>
        <p class="rela-block">
          <span
            style="
              font-family: 'Montserrat';
              font-size: 30px;
              line-height: 40px;
            "
            >12$</span
          >/2 horas
        </p>
        <div class="orbitron black-orb">\\\///</div>
        <ul class="rela-block">
          <li>Todos los juegos disponibles</li>
          <li>Se entrega cargado</li>
          <li>Servicio por 2 horas</li>
          <li>Se obtiene en puerta</li>
          <li>-</li>
        </ul>
        <div class="has-lines black">Alquilar!</div>
      </div>
      <div class="plan">
        <h2 class="rela-block half-big-text">Standard</h2>
        <div class="orbitron black-orb">\\\///</div>
        <p class="rela-block">
          <span
            style="
              font-family: 'Montserrat';
              font-size: 30px;
              line-height: 40px;
            "
            >15$</span
          >/2 horas
        </p>
        <div class="orbitron black-orb">\\\///</div>
        <ul class="rela-block">
          <li>Todos los juegos disponibles</li>
          <li>Se entrega cargado</li>
          <li>Servicio por 2 horas</li>
          <li>Domicilio de entrega</li>
          <li>-</li>
        </ul>
        <div class="has-lines black">Alquilar!</div>
      </div>
      <div class="plan">
        <h2 class="rela-block half-big-text">Full</h2>
        <div class="orbitron black-orb">\\\///</div>
        <p class="rela-block">
          <span
            style="
              font-family: 'Montserrat';
              font-size: 30px;
              line-height: 40px;
            "
            >50$</span
          >/1 dia
        </p>
        <div class="orbitron black-orb">\\\///</div>
        <ul class="rela-block">
          <li>Todos los juegos disponibles</li>
          <li>Se entrega cargado y con cargador</li>
          <li>Servicio todo el dia</li>
          <li>Domicilio entrega y recogida</li>
          <li></li>
        </ul>
        <div class="has-lines black">Alquilar!</div>
      </div>
    </div>
  </div>
  <div class="rela-block testimonials-section">
    <div class="floated left test-left">
      <div class="abs-cent-text">
        <h2 class="half-big-text has-border">Información</h2>
      </div>
    </div>
    <div class="floated left test-right">
      <div class="abs-cent-text">
        <p class="space">
          "Las Oculus Quest son una de las últimas y más emocionantes
          incorporaciones al mundo de la realidad virtual. Estas gafas de VR
          todo en uno te brindan una experiencia inmersiva sin necesidad de
          cables ni de una PC o consola. Son fáciles de configurar y usar, lo
          que las convierte en una opción perfecta para todo tipo de usuarios,
          desde principiantes hasta expertos en tecnología."
        </p>
        <a href="https://youtu.be/5EqTfXCr7O8?t=112"
          ><h2 class="small-header">Observa algunos juegos</h2></a
        >
        <a href="https://youtu.be/v6ILNUDMwvU"><em>configuración básica</em></a>
      </div>
    </div>
  </div>

  <div class="rela-block footer-section">
    <h2 href="#topSection" class="small-header top-link">
      Visita nuestras redes sociales
    </h2>
    <div class="rela-block social-buttons-container">
      <div class="social-button facebook-button"></div>
      <div class="social-button twitter-button"></div>
      <div class="social-button instagram-button"></div>
    </div>
    <p>
      Sumérgete en la Realidad Virtual de tus Sueños.<br />Mundos Virtuales a Tu
      Disposición.
    </p>
  </div>
</div>
